<!DOCTYPE html>
<html>

<head>
	<title>Students Display</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
	.btn {
		background-color: DodgerBlue; /* Blue background */
		border: none; /* Remove borders */
		color: white; /* White text */
		padding: 12px 16px; /* Some padding */
		font-size: 16px; /* Set a font size */
		cursor: pointer; /* Mouse pointer on hover */
	  }
	  
	  /* Darker background on mouse-over */
	  .btn:hover {
		background-color: RoyalBlue;
	  }

	.buttons{
		border: none;
		color: white;
		padding: 5px 18px;
		text-align: left;
		text-decoration: none;
		display: inline-block;
		font-size: 15px;
	}
	td{
		padding: 6px;
		border: 1px solid black;
	}
	#buttoncol{
		border: 1px solid white;
	}
    th {
        border: 1px solid black;
        text-align: left;
        padding: 6px;
    }
	tr{
		border: 1px solid white;
	}
</style>
<body>
	<form action="/" method="get">
	<button class="btn"><i class="fa fa-home"></i> Home</button>
	</form>
	<form action="/books" method="get">
        <button type="submit", class="buttons", style="background-color: #e8bd11">Books</button>
    </form>
	<h1>Add Students</h1>
	<form action="/addStudent" method="post">
		<input type="text" placeholder="ID" 
			   name="studentID">
		<input type="text" placeholder="Name" 
			   name="studentName">
		<input type="text" placeholder="Email" 
			   name="studentEmail">
		<input type="text" placeholder="PhoneNo." 
			   name="studentPhone">
		<button type="submit", class="buttons", style="background-color: #4CAF50">Add</button>
	</form>
	<br>
	<h1>All Students</h1>

	<table>
		<tr>
            <th>ID</th>
			<th>Name</th>
			<th>E-mail ID</th>
			<th>Phone no.</th>
		</tr>
		<% data.forEach(element=> { %>
			<tr>
				<td>
					<%= element.studentID %>
				</td>
                <td>
					<%= element.studentName %>
				</td>
				<td>
					<%= element.studentEmail %>
				</td>
				
				<td>
					<%= element.studentPhone %>
				</td>
				<td id="buttoncol" width="236px">
					<form action="/deleteStudent" method="post">
						<input type="text" style="display: none;" 
								name="studentID" value="<%= element.studentID %>">
						<button type="submit", class="buttons", style="background-color: #e84011">Delete</button>
				    </form>
					<!-- <button  class="buttons", style="background-color: #008CBA">Update</button> -->
				</td>
				
			</tr>
			<% }) %>

	</table>

</body>

</html>
